<table class="table dd-table">
  <thead>
    <tr>
      <th scope="col" *ngFor="let heading of tableHeading">
        {{heading.value}}
        <fa-icon *ngIf="heading.direction === sortOrder.ASC" [icon]="faArrowUp" (click)="sort(heading)"></fa-icon>
        <fa-icon *ngIf="heading.direction === sortOrder.DSC" [icon]="faArrowDown" (click)="sort(heading)"></fa-icon>
      </th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    <tr class="dd-table__table-row" *ngFor="let item of itemList; index as i" cdkDrag>
      <th scope="row">{{i+1}}</th>
      <td>{{item.fullName}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phone}}</td>
    </tr>
  </tbody>
</table>